# timer for do-ddns-updater

[Unit]
Description=Triggers every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
